body, html {
            margin: 0;
            padding: 0;
            overflow: hidden;
            font-family: "Roboto", sans-serif;
        }
        
        canvas {
            display: block;
            position: absolute;
            z-index: 1;
        }
        #content {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-color: rgba(200, 200, 200, .4);
            padding: 50px;
            border-radius: 5px;
            z-index: 2;
            width: 50%;
            height: 50%;
            overflow-y: auto;
            text-align: left;
        }
        #menu {
            position: absolute;
            bottom: 50px;
            right: 25px;
            background-color: rgba(255, 255, 255, 0.8);, , 
            padding: 50px;
            border-radius: 20px;
            z-index: 2;
        }

        #toggle-menu-button {
        position: fixed;
        bottom: 10px;
        right: 10px;
        background-color: rgba(255, 255, 255, 0.8);
        padding: 5px;
        border-radius: 5px;
        z-index: 4;
        border: 1px solid #ccc;
        cursor: pointer;
        }

        .collapse {
            display: none;
        }

        .collapse.show {
            display: block;
        }

        .parameter-menu input[type="range"] {
          writing-mode: bt-lr; /* For old browsers */
          -webkit-appearance: slider-vertical; /* For WebKit browsers */
          width: 150px;
          height: 30px;
          margin: 0;
          padding: 0;
        }

</style>